
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
    <!-- This page allows you to create a sub topic -->
    <h2>Child of {{ topicParent }}</h2> 

    <!-- tags here -->
    <form class="form" action="" method="post" name="updateTopicInfo">
        
        <textarea wrap="hard" cols="100" name="topicDescription">Enter information about this topic here.</textarea>
        <br>
        <input class="btn btn-large" type="submit" value="Save Topic">
    </form>

    <p>&nbsp;</p>

    <h4>Tags</h4>
    {% for tag in tags %}
        <label class="label">{{ tag }}</label>
    {% endfor %}

    <p>&nbsp;</p>

    <h4>Subtopics</h4>
    <div class="Subtopics">
        {% for subTopic in subTopics %}
            <button type="button">{{ subTopic }}</button>
        {% endfor %}

        <p>&nbsp;</p>

        <form class="form" action="" method="post" name="addSubtopic">
            <input class="btn btn-primary" type="submit" value="Add a subtopic">
        </form>
    </div>
</div>
{% endblock %}