{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="panel panel-primary">
  <div class="panel-body">
    <h2 class="text-primary" style="font-size:25px">Login & Registration</h2>
    <p class="text-info">
		Something Something this is how you log in & manage your account
    </p>
	<h2 class="text-primary" style="font-size:25px">Topics & Subtopics</h2>
    <p class="text-info">
		First you make the topics, then you get the power.
    </p>
  </div>
</div>

{% endblock %}
