{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
  <h2>Welcome {{ g.user.username }}. Let's get started.</h2>
  <p>
    Welcome to PKB, the one stop repository for all you know and more!
    Once you access your myPKB you can create and delete topics in your Topics list.
  </p>

  <h4>Top Level Topics</h4>
  {% if topics %}
  {% for topic in topics %}
  	<a class="btn" type="submit" href="{{ url_for('topic', topic=topic, topicParent=user.username) }}">{{ topic }}</a>
  {% endfor %}
  {% else %}
	<br>
	<a class="btn btn-primary btn-lg btn-block" href="{{ url_for('edittopic') }}">Create New Topic!</a>
  {% endif %}
</div>
{% endblock %}
