{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
	<h3>Register New PKB User:</h3>
	<form action="{{ url_for('register') }}" method="post" class="form">
		{{form.hidden_tag()}}
		<div class="control-group {% if form.errors.username %} error {% endif %}">
		    <div class="controls">
				{{form.username(size=30, class = "span3", placeholder="Username")}}<br>
				{% for error in form.errors.username %}
				<span class="help-inline">[{{error}}]</span><br>
				{% endfor %}
		    </div>
		</div>
		<div class="control-group {% if form.errors.password %} error {% endif %}">
			<div class="controls">
				{{form.password(size=30, class = "span3", placeholder="Password")}}<br>
				{% for error in form.errors.password %}
				<span class="help-inline">[{{error}}]</span><br>
				{% endfor %}
			</div>
		</div>
		<div class="control-group {% if form.errors.confirm %} error {% endif %}">
		    <div class="controls">
		        {{form.confirm(size=30, class = "span3", placeholder="Confirm Password")}}<br>
		        {% for error in form.errors.confirm %}
		        <span class="help-inline">[{{error}}]</span><br>
		        {% endfor %}
		    </div>
		</div>
		<div class="control-group">
			{{ form.recaptcha }}
		</div>
		<div class="control-group">
		    <div class="controls">
		    	<input class="btn btn-primary" type="submit" value="Register Team">
		    </div>
		</div>
	</form>
</div>
{% endblock %}