{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" id="topic_title" style="font-size:25px;">
        <b>Search results for the topics with tag "{{ tag }}".<b>
    </h3>
  </div>
  <div class="panel-body">
    <p class="text-info">This page displays all other topics in your PKB with this tag!</p>
  </div>
  <div class="panel-footer" style="padding:0 0 0 0">
    <div class="panel panel-primary" style="margin-bottom:0px;">
      <div class="panel-heading">
        <h2 class="panel-title" style="font-size:24px">Topics</h2>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% for topic in topics %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title text-primary" style="font-size:18px;">
                <a href="{{ url_for('topic', topic_name=topic.title, topic_parent=g.user.username) }}">
                  <strong>{{ topic.title }}</strong>
                </a>
              </h2>
            </div>
            <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
              <label class="text-info">Description:</label>
              <!-- lets put description here -->
              {% if topic.description %}
                {{ topic.description }}
              {% else %}
                ... No description yet!
              {% endif %}
            </div>

            <div class="panel-footer" style="padding:0 0 0 0">
              <div class="btn-group" role="group">
                <button class="btn btn-primary" disabled><span class="glyphicon glyphicon-tags" aria-hidden="true"><i class="icon-tags"></i></span>&nbsp;&nbsp;tags:</button>
                {% for tag in topic.tags %}
                  <a class="btn btn-default" href="{{ url_for('search', tag=tag) }}">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>

          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}