{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title" style="font-size:25px;">
                    <b>{{ topic.title }}<b>
                </h3>
                {% if topic_parent != None %}
                    <a href="{{ url_for('topic', topic_name=topic_parent.title, topic_parent=topic_parent.parent) }}" class="btn btn-primary" type="submit" >Parent: {{ topic_parent.title }}</a>
                {% endif %}
            </div>

            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b>Description:<b></h3>
                            </div>
                            <div class="panel-body" style="padding-top:5px; padding-bottom:0px;">
                                <textarea readonly wrap="hard" style="width:100%; resize:none;" rows="10" name="topicDescription">
                                    {% if description %}
                                        {{ description }}
                                    {% else %}
                                        ... click Edit Topic to add a description!
                                    {% endif %}
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b>Subtopics:<b></h3>
                            </div>
                            <div class="panel-body" style="padding-top:5px; padding-bottom:0px;">
                            {% if subTopics %}
                                <p>

                                <!-- BUG! 
                                    DOES NOT DISPLAY SUBTOPICS AT ALL! 
                                    DO NOT UNDERSTAND WHY!
                                -->
                                {% for subTopic in subTopics %}
                                    <a href="{{ url_for('topic', topic_name=subTopic.title, topic_parent=subTopic.parent) }}">{{ subTopic.title }}</a>
                                {% endfor %}
                                </p>
                            {% else %}
                                <p>No subtopics yet... add one!</p>
                            {% endif %}
                            </div>
                            <div class="panel-footer">
                                <a href="{{ url_for('create_new_topic', topic_parent=topic.title) }}" type="submit" class="btn btn-primary">Add a Subtopic</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><b>Tags<b></h3>
                            </div>
                            <div class="panel-body" style="padding-top:5px; padding-bottom:0px;">
                                <i class="fa fa-tags"></i>
                                {% if topic.tags %}
                                    {% for tag in topic.tags %}
                                    <a class="btn">{{ tag }}</a>
                                    {% endfor %}
                                {% else %}
                                <p>Click Edit Topic to add some tags!</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel-footer">
                {{ topic_parent, topic.title, g.user.username }}

            </div>

        </div>
    </div>
</div>
{% endblock %}
