
{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
    <!-- this page should have the topic name at the top, then a text box for notes about the topic below it, then children topics of this topic below that, then tags for this topic-->
    <h2> {{ topic }}</h2> 

    <!-- tags here -->
    {% for tag in tags %}
        <label class="label">{{ tag }}</label>
    {% endfor %}

    <p>&nbsp;</p>

    <!-- Topic description -->
    <textarea readonly wrap="hard" cols="100" name="topicDescription">{{ description }}</textarea>
    <br>

    <!-- Edit topic info button -->
    <a href="{{ url_for('edittopic', topic=topic, tags=tags, description=description) }}" class="btn btn-primary" type="submit">Edit information</a>

    <br><br><br>

    <div class="Subtopics">
        <h4>Subtopics</h4>
        {% for subTopic in subTopics %}
            <a class="btn" type="submit" href="{{ url_for('topic', topic=subTopic, topicParent=topic) }}">{{ subTopic }}</a>
        {% endfor %}

        <br><br>

        <!-- Add subtopc button -->
        <a href="{{ url_for('edittopic', topic="", topicParent=topic) }}" class="btn btn-primary" type="submit" >Add a subtopic</a>
    </div>
</div>
{% endblock %}