{% extends "base.html" %}
{% block content %}
{% include 'flash.html' %}
<div class="well">
    <h3>Upload Solution:</h3>
    <form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        <div class="input-group">
            <div class="input-group-btn">
                {{ form.upload }}
            </div>
            <br>
            <input class="btn btn-primary form-control" type="submit" value="Upload">
        </div>
    </form>
</div>

{% endblock %}

